.formcontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    margin: 0 auto;
    background-color: antiquewhite;
}
 
        input[required], select[required] {
            border: 2px solid red;
        }
        button[type="submit"] {
            background-color: lightblue;
            padding: 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    
